<a href="https://colab.research.google.com/github/annagradziel12/rozne_zrodla_danych/blob/master/CzyszczenieDanych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
oceny = pd.read_csv("AiSD2.csv")

In [ ]:
oceny.Nazwisko

AttributeError: 'DataFrame' object has no attribute 'Nazwisko'

In [ ]:
oceny["Nazwisko"]

KeyError: 'Nazwisko'

In [ ]:
oceny.columns

Index(['Imię', '      Nazwisko', '           Z1(4+1)', '  Z2(4+1)',
       '    Z3(4+1)', '   Z4(4+1)', '   Z5(2+2)', '   Z6(4+1)', '  Z7(4+1)',
       '   Z8(4+1)', '   Z9(4+1)', ' Z10(4+1)', '    Z11(4+1)', '  Z12(4+1)',
       '            Z13(5)', '  Z14(4+1)', 'Z15(5)'],
      dtype='object')

* strip()
* replace()

In [ ]:
oceny.columns.str.strip()

Index(['Imię', 'Nazwisko', 'Z1(4+1)', 'Z2(4+1)', 'Z3(4+1)', 'Z4(4+1)',
       'Z5(2+2)', 'Z6(4+1)', 'Z7(4+1)', 'Z8(4+1)', 'Z9(4+1)', 'Z10(4+1)',
       'Z11(4+1)', 'Z12(4+1)', 'Z13(5)', 'Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [ ]:
oceny["      Nazwisko"].str.strip().values

array(['Nowak', 'Kowalski', 'Wiśniewski', 'Dąbrowski', 'Lewandowski',
       'Wójcik', 'Kamiński', 'Kowalczyk', 'Zielińska', 'Szymański',
       'Woźniak'], dtype=object)

In [ ]:
oceny["      Nazwisko"].str.contains(" ")

0      True
1      True
2      True
3      True
4      True
5     False
6      True
7      True
8      True
9      True
10     True
Name:       Nazwisko, dtype: bool

In [ ]:
oceny["      Nazwisko"].values

array(['      Nowak', '     Kowalski', '     Wiśniewski', '    Dąbrowski',
       '  Lewandowski', 'Wójcik', '    Kamiński', '     Kowalczyk',
       '    Zielińska', '   Szymański', '    Woźniak'], dtype=object)

In [ ]:
oceny.Imię

0           Anna
1          Rafał
2          Pavlo
3         Aleksy
4       Jarosław
5     Bartłomiej
6         Łukasz
7          Oskar
8         Joanna
9        Oktawia
10        Patryk
Name: Imię, dtype: object

In [ ]:
oceny = pd.read_csv("AiSD2.csv", skipinitialspace=True)

In [ ]:
oceny.Nazwisko.values

array(['Nowak', 'Kowalski', 'Wiśniewski', 'Dąbrowski', 'Lewandowski',
       'Wójcik', 'Kamiński', 'Kowalczyk', 'Zielińska', 'Szymański',
       'Woźniak'], dtype=object)

In [ ]:
oceny

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5),E-mail
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NaN,nowaka@student.mini.pw.edu.pl
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NaN,kowalskir@student.mini.pw.edu.pl
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NaN,wisniewskip@student.mini.pw.edu.pl
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NaN,dabrowskia@student.mini.pw.edu.pl
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN,lewandowskij@student.mini.pw.edu.pl
5,Bartłomiej,Wójcik,2.0+1.0,2.0+1.0,2.5+0.5,1.5+1.5,0.5+1.0,1.75+0.5,0.0+1.0,1.5+1.0,4.0+1.0,ZW+ZW,0.5+1.0,3.0+0.0,4.0+1.0,3.5+0.0,NaN,wojcikb@student.mini.pw.edu.pl
6,Łukasz,Kamiński,4.0+1.0,2.0+1.0,3.5+1.0,1.5+0.5,1.5+0.5,US+1.0,0.5+1.0,2.0+1.0,3.5+1.0,2.0+0.0,0.5+0.5,3.0+1.0,2.0+1.0,4.0+1.0,NaN,kaminskil@student.mini.pw.edu.pl
7,Oskar,Kowalczyk,4.0+0.5,4.0+1.0,2.0+1.0,4.0+2.0,2.0+1.0,1.5+0.0,1.0+1.0,4.0+1.0,4.0+1.0,1.0+0.5,0.0+NB,3.5+1.0,4.0+1.0,3.0+0.0,NaN,kowalczyko@student.mini.pw.edu.pl
8,Joanna,Zielińska,2.5+0.0,US+US,0.5+0.0,1.0+0.0,0.5+1.0,1.0+0.0,0.5+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN,zielinskaj@student.mini.pw.edu.pl
9,Oktawia,Szymański,2.5+1.0,0.0+0.0,1.0+0.5,0.0+1.5,0.5+0.5,NB+NB,0.0+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN,szymanskio@student.mini.pw.edu.pl
10,Patryk,Woźniak,2.0+1.0,4.0+1.0,2.5+1.0,3.0+2.0,1.0+0.5,1.0+0.5,1.0+0.5,2.0+1.0,4.0+1.0,2.0+0.5,4.0+1.0,4.0+1.0,2.0+0.0,4.0+1.0,NaN,wozniakp@student.mini.pw.edu.pl

# E-maile

Jeżeli student nazywa się Łukasz Wójcik, jego mail brzmi `wojcikl@student.mini.pw.edu.pl`.

In [ ]:
oceny.Nazwisko.str.lower()

0           nowak
1        kowalski
2      wiśniewski
3       dąbrowski
4     lewandowski
5          wójcik
6        kamiński
7       kowalczyk
8       zielińska
9       szymański
10        woźniak
Name: Nazwisko, dtype: object

In [ ]:
oceny.Imię[0] # nie tak

'Anna'

In [ ]:
oceny.Nazwisko.str.lower() + oceny.Imię[0] # nie tak

0           nowakAnna
1        kowalskiAnna
2      wiśniewskiAnna
3       dąbrowskiAnna
4     lewandowskiAnna
5          wójcikAnna
6        kamińskiAnna
7       kowalczykAnna
8       zielińskaAnna
9       szymańskiAnna
10        woźniakAnna
Name: Nazwisko, dtype: object

In [ ]:
oceny.Imię.str[0].str.lower()

0     a
1     r
2     p
3     a
4     j
5     b
6     ł
7     o
8     j
9     o
10    p
Name: Imię, dtype: object

In [ ]:
oceny.Nazwisko.str.lower() + oceny.Imię.str[0].str.lower() + "@student.mini.pw.edu.pl"

0           nowaka@student.mini.pw.edu.pl
1        kowalskir@student.mini.pw.edu.pl
2      wiśniewskip@student.mini.pw.edu.pl
3       dąbrowskia@student.mini.pw.edu.pl
4     lewandowskij@student.mini.pw.edu.pl
5          wójcikb@student.mini.pw.edu.pl
6        kamińskił@student.mini.pw.edu.pl
7       kowalczyko@student.mini.pw.edu.pl
8       zielińskaj@student.mini.pw.edu.pl
9       szymańskio@student.mini.pw.edu.pl
10        woźniakp@student.mini.pw.edu.pl
dtype: object

W Terminalu:

```
conda install unidecode
```

lub

```
pip install Unidecode
```

In [ ]:
import unidecode

In [ ]:
unidecode.unidecode("ąółęźćżńśĄÓŁŹŻŃŚ")

'aolezcznsAOLZZNS'

* apply()
* np.vectorize()

In [ ]:
oceny["E-mail"] = oceny.Nazwisko.str.lower() + oceny.Imię.str[0].str.lower() + "@student.mini.pw.edu.pl"

In [ ]:
oceny["E-mail"].apply(lambda x: len(x)*2+3)

0     61
1     67
2     71
3     69
4     73
5     63
6     67
7     69
8     69
9     69
10    65
Name: E-mail, dtype: int64

In [ ]:
oceny["E-mail"].apply()

In [ ]:
%%timeit
oceny["E-mail"].apply(unidecode.unidecode)

758 µs ± 38.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
unidecode_vec = np.vectorize(unidecode.unidecode)

In [ ]:
%%timeit

unidecode_vec(oceny["E-mail"])

460 µs ± 37.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
oceny_duze = oceny.copy()
for i in range(100):
    oceny_duze = pd.concat([oceny_duze,oceny])

In [ ]:
%%timeit
oceny_duze["E-mail"].apply(unidecode.unidecode)

25.1 ms ± 1.7 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
%%timeit
unidecode_vec(oceny_duze["E-mail"])

23.7 ms ± 1.59 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
oceny["E-mail"] = oceny.Nazwisko.str.lower() + oceny.Imię.str[0].str.lower() + "@student.mini.pw.edu.pl"
oceny["E-mail"] = oceny["E-mail"].apply(unidecode.unidecode)

In [ ]:
oceny["E-mail"]

0           nowaka@student.mini.pw.edu.pl
1        kowalskir@student.mini.pw.edu.pl
2      wisniewskip@student.mini.pw.edu.pl
3       dabrowskia@student.mini.pw.edu.pl
4     lewandowskij@student.mini.pw.edu.pl
5          wojcikb@student.mini.pw.edu.pl
6        kaminskil@student.mini.pw.edu.pl
7       kowalczyko@student.mini.pw.edu.pl
8       zielinskaj@student.mini.pw.edu.pl
9       szymanskio@student.mini.pw.edu.pl
10        wozniakp@student.mini.pw.edu.pl
Name: E-mail, dtype: object

# Wygenerować napis: "nowaka@student.mini.pw.edu.pl, kowalskir@student.mini.pw.edu.pl, ..."

In [ ]:
", ".join(oceny["E-mail"])

'nowaka@student.mini.pw.edu.pl, kowalskir@student.mini.pw.edu.pl, wisniewskip@student.mini.pw.edu.pl, dabrowskia@student.mini.pw.edu.pl, lewandowskij@student.mini.pw.edu.pl, wojcikb@student.mini.pw.edu.pl, kaminskil@student.mini.pw.edu.pl, kowalczyko@student.mini.pw.edu.pl, zielinskaj@student.mini.pw.edu.pl, szymanskio@student.mini.pw.edu.pl, wozniakp@student.mini.pw.edu.pl'

In [ ]:
oceny["E-mail"].tolist()

['nowaka@student.mini.pw.edu.pl',
 'kowalskir@student.mini.pw.edu.pl',
 'wisniewskip@student.mini.pw.edu.pl',
 'dabrowskia@student.mini.pw.edu.pl',
 'lewandowskij@student.mini.pw.edu.pl',
 'wojcikb@student.mini.pw.edu.pl',
 'kaminskil@student.mini.pw.edu.pl',
 'kowalczyko@student.mini.pw.edu.pl',
 'zielinskaj@student.mini.pw.edu.pl',
 'szymanskio@student.mini.pw.edu.pl',
 'wozniakp@student.mini.pw.edu.pl']

In [ ]:
oceny["E-mail"].values

array(['nowaka@student.mini.pw.edu.pl',
       'kowalskir@student.mini.pw.edu.pl',
       'wisniewskip@student.mini.pw.edu.pl',
       'dabrowskia@student.mini.pw.edu.pl',
       'lewandowskij@student.mini.pw.edu.pl',
       'wojcikb@student.mini.pw.edu.pl',
       'kaminskil@student.mini.pw.edu.pl',
       'kowalczyko@student.mini.pw.edu.pl',
       'zielinskaj@student.mini.pw.edu.pl',
       'szymanskio@student.mini.pw.edu.pl',
       'wozniakp@student.mini.pw.edu.pl'], dtype=object)

In [ ]:
oceny["E-mail"].str.cat(sep=", ")

'nowaka@student.mini.pw.edu.pl, kowalskir@student.mini.pw.edu.pl, wisniewskip@student.mini.pw.edu.pl, dabrowskia@student.mini.pw.edu.pl, lewandowskij@student.mini.pw.edu.pl, wojcikb@student.mini.pw.edu.pl, kaminskil@student.mini.pw.edu.pl, kowalczyko@student.mini.pw.edu.pl, zielinskaj@student.mini.pw.edu.pl, szymanskio@student.mini.pw.edu.pl, wozniakp@student.mini.pw.edu.pl'

# Rozbijamy kolumny na część laboratoryjną i domową

* Z1(4+1) -> L1(4), D1(1)
* oczywiście trzeba podzielić też wartości, a nie tylko nazwy kolumn
* pętlą for, najpierw napisać kod, który działa dla pierwszej takiej kolumny
* będą kolumny z niespodzianką
* Z15 dropujemy/usuwamy
* Z13 zmieniamy nazwę kolumny na 4+1

In [ ]:
oceny2 = oceny.copy()

In [ ]:
import re
re.findall("Z",oceny2.columns[2])

['Z']

In [ ]:
oceny2.columns.str.extract("(Z)")

      0
0   NaN
1   NaN
2     Z
3     Z
4     Z
5     Z
6     Z
7     Z
8     Z
9     Z
10    Z
11    Z
12    Z
13    Z
14    Z
15    Z
16    Z
17  NaN

In [ ]:
# oceny2[["kolumna1", "kolumna2"]] = [5, 6]
# tworzenie wielu kolumn naraz
df.assign(**{'col_new_1': np.nan, 'col2_new_2': 'dogs', 'col3_new_3': 3})

KeyError: "None of [Index(['kolumna1', 'kolumna2'], dtype='object')] are in the [columns]"

In [ ]:
oceny2.iloc[:,2].str.split("+", expand=True)

      0    1
0   2.5  1.0
1   3.0  0.0
2   2.5  0.5
3   0.5  1.0
4   2.0  0.0
5   2.0  1.0
6   4.0  1.0
7   4.0  0.5
8   2.5  0.0
9   2.5  1.0
10  2.0  1.0

In [ ]:
ocena=3
zadanie=4
f"({ocena}-+-{zadanie})"

'(3-+-4)'

In [ ]:
oceny.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5),E-mail
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NaN,nowaka@student.mini.pw.edu.pl
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NaN,kowalskir@student.mini.pw.edu.pl
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NaN,wisniewskip@student.mini.pw.edu.pl
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NaN,dabrowskia@student.mini.pw.edu.pl
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN,lewandowskij@student.mini.pw.edu.pl

In [ ]:
list(range(len(oceny2.columns)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [ ]:
list(enumerate(oceny2.columns))

[(0, 'Imię'),
 (1, 'Nazwisko'),
 (2, 'Z1(4+1)'),
 (3, 'Z2(4+1)'),
 (4, 'Z3(4+1)'),
 (5, 'Z4(4+1)'),
 (6, 'Z5(2+2)'),
 (7, 'Z6(4+1)'),
 (8, 'Z7(4+1)'),
 (9, 'Z8(4+1)'),
 (10, 'Z9(4+1)'),
 (11, 'Z10(4+1)'),
 (12, 'Z11(4+1)'),
 (13, 'Z12(4+1)'),
 (14, 'Z13(5)'),
 (15, 'Z14(4+1)'),
 (16, 'Z15(5)'),
 (17, 'E-mail')]

# Robimy

# Zmieniamy nazwy, usuwamy kolumny

In [ ]:
oceny2 = oceny.copy()
oceny2.drop("Z15(5)", axis=1, inplace=True)
oceny2.rename({"Z13(5)": "Z13(4+1)"}, axis=1, inplace=True)
oceny2.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(4+1),Z14(4+1),E-mail
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,nowaka@student.mini.pw.edu.pl
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,kowalskir@student.mini.pw.edu.pl
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,wisniewskip@student.mini.pw.edu.pl
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,dabrowskia@student.mini.pw.edu.pl
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,lewandowskij@student.mini.pw.edu.pl

In [ ]:
numer_zadania, pkt_lab, pkt_dom = re.findall("Z(\d+)\((\d+)\+(\d+)\)", oceny2.columns[2])[0]
rozdzielone_punkty = oceny2.iloc[:,2].str.split("+", expand=True)

oceny2[f"L{numer_zadania}({pkt_lab})"] = rozdzielone_punkty[0]
oceny2[f"D{numer_zadania}({pkt_dom})"] = rozdzielone_punkty[1]
oceny2

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(4+1),Z14(4+1),E-mail,L1(4),D1(1)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,nowaka@student.mini.pw.edu.pl,2.5,1.0
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,kowalskir@student.mini.pw.edu.pl,3.0,0.0
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,wisniewskip@student.mini.pw.edu.pl,2.5,0.5
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,dabrowskia@student.mini.pw.edu.pl,0.5,1.0
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,lewandowskij@student.mini.pw.edu.pl,2.0,0.0
5,Bartłomiej,Wójcik,2.0+1.0,2.0+1.0,2.5+0.5,1.5+1.5,0.5+1.0,1.75+0.5,0.0+1.0,1.5+1.0,4.0+1.0,ZW+ZW,0.5+1.0,3.0+0.0,4.0+1.0,3.5+0.0,wojcikb@student.mini.pw.edu.pl,2.0,1.0
6,Łukasz,Kamiński,4.0+1.0,2.0+1.0,3.5+1.0,1.5+0.5,1.5+0.5,US+1.0,0.5+1.0,2.0+1.0,3.5+1.0,2.0+0.0,0.5+0.5,3.0+1.0,2.0+1.0,4.0+1.0,kaminskil@student.mini.pw.edu.pl,4.0,1.0
7,Oskar,Kowalczyk,4.0+0.5,4.0+1.0,2.0+1.0,4.0+2.0,2.0+1.0,1.5+0.0,1.0+1.0,4.0+1.0,4.0+1.0,1.0+0.5,0.0+NB,3.5+1.0,4.0+1.0,3.0+0.0,kowalczyko@student.mini.pw.edu.pl,4.0,0.5
8,Joanna,Zielińska,2.5+0.0,US+US,0.5+0.0,1.0+0.0,0.5+1.0,1.0+0.0,0.5+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,zielinskaj@student.mini.pw.edu.pl,2.5,0.0
9,Oktawia,Szymański,2.5+1.0,0.0+0.0,1.0+0.5,0.0+1.5,0.5+0.5,NB+NB,0.0+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,szymanskio@student.mini.pw.edu.pl,2.5,1.0
10,Patryk,Woźniak,2.0+1.0,4.0+1.0,2.5+1.0,3.0+2.0,1.0+0.5,1.0+0.5,1.0+0.5,2.0+1.0,4.0+1.0,2.0+0.5,4.0+1.0,4.0+1.0,2.0+0.0,4.0+1.0,wozniakp@student.mini.pw.edu.pl,2.0,1.0

In [ ]:
oceny2 = oceny.copy()
oceny2.drop("Z15(5)", axis=1, inplace=True)
oceny2.rename({"Z13(5)": "Z13(4+1)"}, axis=1, inplace=True)
do_usuniecia = []

for indeks, nazwa_kolumny in enumerate(oceny2.columns):
    dopasowanie = re.findall("Z(\d+)\((\d+)\+(\d+)\)", nazwa_kolumny)
    # print(nazwa_kolumny)
    if len(dopasowanie) == 0:
        continue
    numer_zadania, pkt_lab, pkt_dom = dopasowanie[0]
    rozdzielone_punkty = oceny2.iloc[:,indeks].str.split("+", expand=True)
    oceny2[f"L{numer_zadania}({pkt_lab})"] = rozdzielone_punkty[0]
    oceny2[f"D{numer_zadania}({pkt_dom})"] = rozdzielone_punkty[1]
    do_usuniecia.append(nazwa_kolumny)
    
for kolumna in do_usuniecia:
    oceny2.drop(kolumna, axis=1, inplace=True)
    
oceny2

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,2.0,0.0,0.5,1.0,ZW,ZW,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,0.0,NB,1.0,1.0,NS.(3.0),NS.(1.0),4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,US,1.0,2.5,1.0,1.5,...,ZW,ZW,1.0,0.5,3.5,1.0,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,ZW,ZW,0.5,1.0,3.0,0.0,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,2.0,0.0,0.5,0.5,3.0,1.0,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,0.5,0.0,NB,3.5,1.0,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,US,US,0.5,0.0,1.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,2.0,0.5,4.0,1.0,4.0,1.0,2.0,0.0,4.0,1.0

# Zamiana nieobecności

* NA, NB - nieobecność nieusprawiedliwiona, wstawiamy 0
* US, ZW - nieobecność usprawiedliwiona, zwolnienie lekarskie, np.NaN
* NS.(1.0) - praca niesamodzielna, 0

In [ ]:
oceny2.replace({"NA":"0", "NB":"0", "US":np.NaN, "ZW":np.NaN, r"NS\..+":"0"}, regex=True, inplace=True)
oceny2

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,2.0,0.0,0.5,1.0,NaN,NaN,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,0.0,0,1.0,1.0,0,0,4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,NaN,1.0,2.5,1.0,1.5,...,NaN,NaN,1.0,0.5,3.5,1.0,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,0,0,0,0,0,0,0,0,0,0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,NaN,NaN,0.5,1.0,3.0,0.0,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,2.0,0.0,0.5,0.5,3.0,1.0,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,0.5,0.0,0,3.5,1.0,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,NaN,NaN,0.5,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,0,0,0,0,0,0,0,0,0,0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,2.0,0.5,4.0,1.0,4.0,1.0,2.0,0.0,4.0,1.0

# Konwersja kolumn ocenowych na floaty

In [ ]:
oceny2.dtypes

Imię        object
Nazwisko    object
E-mail      object
L1(4)       object
D1(1)       object
L2(4)       object
D2(1)       object
L3(4)       object
D3(1)       object
L4(4)       object
D4(1)       object
L5(2)       object
D5(2)       object
L6(4)       object
D6(1)       object
L7(4)       object
D7(1)       object
L8(4)       object
D8(1)       object
L9(4)       object
D9(1)       object
L10(4)      object
D10(1)      object
L11(4)      object
D11(1)      object
L12(4)      object
D12(1)      object
L13(4)      object
D13(1)      object
L14(4)      object
D14(1)      object
dtype: object

In [ ]:
oceny2.iloc[:, 4].astype(float)

0     1.0
1     0.0
2     0.5
3     1.0
4     0.0
5     1.0
6     1.0
7     0.5
8     0.0
9     1.0
10    1.0
Name: D1(1), dtype: float64

In [ ]:
oceny2.iloc[:, 4:8].astype(float).dtypes

D1(1)    float64
L2(4)    float64
D2(1)    float64
L3(4)    float64
dtype: object

In [ ]:
oceny2.iloc[:, 4:8] = oceny2.iloc[:, 4:8].astype(float)
oceny2.dtypes

Imię        object
Nazwisko    object
E-mail      object
L1(4)       object
D1(1)       object
L2(4)       object
D2(1)       object
L3(4)       object
D3(1)       object
L4(4)       object
D4(1)       object
L5(2)       object
D5(2)       object
L6(4)       object
D6(1)       object
L7(4)       object
D7(1)       object
L8(4)       object
D8(1)       object
L9(4)       object
D9(1)       object
L10(4)      object
D10(1)      object
L11(4)      object
D11(1)      object
L12(4)      object
D12(1)      object
L13(4)      object
D13(1)      object
L14(4)      object
D14(1)      object
dtype: object

In [ ]:
for column in oceny.columns[3:]:
    oceny[column] = oceny[column].astype(float)
oceny.info()

In [ ]:
oceny2a.columns[3:]

Index(['L1(4)', 'D1(1)', 'L2(4)', 'D2(1)', 'L3(4)', 'D3(1)', 'L4(4)', 'D4(1)',
       'L5(2)', 'D5(2)', 'L6(4)', 'D6(1)', 'L7(4)', 'D7(1)', 'L8(4)', 'D8(1)',
       'L9(4)', 'D9(1)', 'L10(4)', 'D10(1)', 'L11(4)', 'D11(1)', 'L12(4)',
       'D12(1)', 'L13(4)', 'D13(1)', 'L14(4)', 'D14(1)'],
      dtype='object')

In [ ]:
# chyba nie dziala
oceny2a = oceny2.copy()
oceny2a[oceny2a.columns[3:]] = oceny2a[oceny2a.columns[3:]].apply(pd.to_numeric, errors='coerce', axis=1)

In [ ]:
# dziala, zwiezle
oceny2a = oceny2.copy()
oceny2a[oceny2a.columns[3:]]=oceny2a[oceny2a.columns[3:]].apply(pd.to_numeric, errors='coerce')
oceny2a

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,2.0,0.0,0.5,1.0,NaN,NaN,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,0.0,0.0,1.0,1.0,0.0,0.0,4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,NaN,1.0,2.5,1.0,1.5,...,NaN,NaN,1.0,0.5,3.5,1.0,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,NaN,NaN,0.5,1.0,3.0,0.0,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,2.0,0.0,0.5,0.5,3.0,1.0,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,0.5,0.0,0.0,3.5,1.0,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,NaN,NaN,0.5,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,2.0,0.5,4.0,1.0,4.0,1.0,2.0,0.0,4.0,1.0

In [ ]:
# grades = pd.concat([grades[grades.columns[:3]], grades[grades.columns[3:]].astype(float)], axis=1)
oceny3 = pd.concat([oceny2.iloc[:, :3], oceny2.iloc[:, 3:].astype(float)], axis=1)
oceny3

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,2.0,0.0,0.5,1.0,NaN,NaN,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,0.0,0.0,1.0,1.0,0.0,0.0,4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,NaN,1.0,2.5,1.0,1.5,...,NaN,NaN,1.0,0.5,3.5,1.0,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,NaN,NaN,0.5,1.0,3.0,0.0,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,2.0,0.0,0.5,0.5,3.0,1.0,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,0.5,0.0,0.0,3.5,1.0,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,NaN,NaN,0.5,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,2.0,0.5,4.0,1.0,4.0,1.0,2.0,0.0,4.0,1.0

# Zwolnienia lekarskie

In [ ]:
oceny3

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,2.0,0.0,0.5,1.0,NaN,NaN,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,0.0,0.0,1.0,1.0,0.0,0.0,4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,NaN,1.0,2.5,1.0,1.5,...,NaN,NaN,1.0,0.5,3.5,1.0,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,NaN,NaN,0.5,1.0,3.0,0.0,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,2.0,0.0,0.5,0.5,3.0,1.0,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,0.5,0.0,0.0,3.5,1.0,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,NaN,NaN,0.5,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,2.0,0.5,4.0,1.0,4.0,1.0,2.0,0.0,4.0,1.0

* każdy NaN zamieniamy na średnią z:
* średnia z wiersza (siła studenta)
* średnia z kolumny (trudność zadania)
* można zrobić pętlą, a można też Numpy

In [ ]:
np.isnan(np.NaN)
np.where(oceny3.isnull())

(array([0, 0, 2, 2, 2, 5, 5, 6, 8, 8]),
 array([25, 26,  5, 21, 22, 21, 22, 13,  5,  6]))

In [ ]:
oceny4 = oceny3.copy()
for wiersz_index in range(oceny4.shape[0]):
    for kolumna_index in range(3, oceny4.shape[1]):
        if np.isnan(oceny4.iloc[wiersz_index, kolumna_index]):
            srednia_wiersz = oceny3.iloc[wiersz_index, 3:].mean() # obliczamy średnią z oryginału, więc nie 
            srednia_kolumna = oceny3.iloc[:,kolumna_index].mean() # uwzględniamy nowych średnich
            oceny4.iloc[wiersz_index, kolumna_index] = np.mean([srednia_wiersz, srednia_kolumna])
oceny4

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,2.000000,0.000000,0.5,1.0,1.580769,0.930769,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,0.000000,0.000000,1.0,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,1.268889,0.935556,1.0,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,1.105235,0.771902,0.5,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,2.000000,0.000000,0.5,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,1.000000,0.500000,0.0,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.356838,0.559615,0.5,0.0,1.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,2.000000,0.500000,4.0,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0

# Wersja Numpy

In [ ]:
# policzę średnie dla każdego wiersza i kolumny (wektoryzacja)
# znajdę indeksy na których są nan
# podstawię pod te indeksy średnie z średnich

In [ ]:
oceny_macierz = oceny3.values[:, 3:].astype(float)

In [ ]:
oceny_macierz.dtype

dtype('float64')

In [ ]:
oceny_wiersze = np.nanmean(oceny_macierz, axis=1)
oceny_kolumny = np.nanmean(oceny_macierz, axis=0)
oceny_kolumny

array([2.5       , 0.63636364, 2.44444444, 0.85      , 1.77272727,
       0.54545455, 1.5       , 1.27272727, 1.09090909, 0.81818182,
       1.3       , 0.22727273, 0.36363636, 0.40909091, 1.77272727,
       0.63636364, 2.36363636, 0.59090909, 0.77777778, 0.11111111,
       0.68181818, 0.45454545, 1.7       , 0.4       , 2.18181818,
       0.36363636, 2.40909091, 0.45454545])

In [ ]:
indeksy_nan = np.where(np.isnan(oceny_macierz))
indeksy_nan

(array([0, 0, 2, 2, 2, 5, 5, 6, 8, 8]),
 array([22, 23,  2, 18, 19, 18, 19, 10,  2,  3]))

In [ ]:
oceny_macierz[indeksy_nan]

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan])

In [ ]:
oceny_macierz[indeksy_nan] = (oceny_wiersze[indeksy_nan[0]] + oceny_kolumny[indeksy_nan[1]])/2
oceny_macierz

array([[2.5       , 1.        , 4.        , 1.        , 2.        ,
        0.        , 1.        , 2.        , 1.5       , 2.        ,
        2.        , 0.        , 0.        , 0.        , 1.5       ,
        1.        , 3.5       , 0.5       , 2.        , 0.        ,
        0.5       , 1.        , 1.58076923, 0.93076923, 4.        ,
        0.        , 4.        , 1.        ],
       [3.        , 0.        , 2.        , 0.5       , 2.        ,
        1.        , 1.5       , 1.5       , 2.        , 1.        ,
        1.        , 0.5       , 0.        , 0.        , 3.        ,
        1.        , 3.5       , 1.        , 0.        , 0.        ,
        1.        , 1.        , 0.        , 0.        , 4.        ,
        0.        , 4.        , 1.        ],
       [2.5       , 0.5       , 2.10222222, 1.        , 2.5       ,
        1.        , 1.5       , 1.5       , 2.        , 1.5       ,
        3.5       , 0.        , 1.        , 1.        , 3.        ,
        1.        , 3.5       , 1.        , 1.26888889, 0.93555556,
        1.        , 0.5       , 3.5       , 1.        , 4.        ,
        1.        , 4.        , 1.        ],
       [0.5       , 1.        , 1.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [2.        , 0.        , 3.        , 1.        , 1.        ,
        0.        , 1.5       , 1.5       , 0.5       , 0.        ,
        1.25      , 0.        , 0.        , 0.        , 2.5       ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [2.        , 1.        , 2.        , 1.        , 2.5       ,
        0.5       , 1.5       , 1.5       , 0.5       , 1.        ,
        1.75      , 0.5       , 0.        , 1.        , 1.5       ,
        1.        , 4.        , 1.        , 1.10523504, 0.77190171,
        0.5       , 1.        , 3.        , 0.        , 4.        ,
        1.        , 3.5       , 0.        ],
       [4.        , 1.        , 2.        , 1.        , 3.5       ,
        1.        , 1.5       , 0.5       , 1.5       , 0.5       ,
        1.41851852, 1.        , 0.5       , 1.        , 2.        ,
        1.        , 3.5       , 1.        , 2.        , 0.        ,
        0.5       , 0.5       , 3.        , 1.        , 2.        ,
        1.        , 4.        , 1.        ],
       [4.        , 0.5       , 4.        , 1.        , 2.        ,
        1.        , 4.        , 2.        , 2.        , 1.        ,
        1.5       , 0.        , 1.        , 1.        , 4.        ,
        1.        , 4.        , 1.        , 1.        , 0.5       ,
        0.        , 0.        , 3.5       , 1.        , 4.        ,
        1.        , 3.        , 0.        ],
       [2.5       , 0.        , 1.35683761, 0.55961538, 0.5       ,
        0.        , 1.        , 0.        , 0.5       , 1.        ,
        1.        , 0.        , 0.5       , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [2.5       , 1.        , 0.        , 0.        , 1.        ,
        0.5       , 0.        , 1.5       , 0.5       , 0.5       ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [2.        , 1.        , 4.        , 1.        , 2.5       ,
        1.        , 3.        , 2.        , 1.        , 0.5       ,
        1.        , 0.5       , 1.        , 0.5       , 2.        ,
        1.        , 4.        , 1.        , 2.        , 0.5       ,
        4.        , 1.        , 4.        , 1.        , 2.        ,
        0.        , 4.        , 1.        ]])

In [ ]:
oceny5_Numpy = oceny3.copy(deep=True)
oceny5_Numpy.iloc[:, 3:] = oceny_macierz
oceny5_Numpy

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,2.000000,0.000000,0.5,1.0,1.580769,0.930769,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,0.000000,0.000000,1.0,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,1.268889,0.935556,1.0,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,1.105235,0.771902,0.5,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,2.000000,0.000000,0.5,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,1.000000,0.500000,0.0,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.356838,0.559615,0.5,0.0,1.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,2.000000,0.500000,4.0,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0

In [ ]:
oceny_copy = oceny3.copy()
new_oceny = oceny_copy.iloc[:,3:].copy()
new_oceny1 = new_oceny.copy()
new_oceny2 = new_oceny.copy()
new_oceny1 = new_oceny1.apply(lambda x: x.fillna(x.mean()),axis=0)
new_oceny2 = new_oceny2.apply(lambda x: x.fillna(x.mean()),axis=1)
new_oceny3 = (new_oceny1 + new_oceny2) / 2
oceny_copy.iloc[:,3:] = new_oceny3
oceny_copy

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,2.000000,0.000000,0.5,1.0,1.580769,0.930769,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,0.000000,0.000000,1.0,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,1.268889,0.935556,1.0,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,1.105235,0.771902,0.5,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,2.000000,0.000000,0.5,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,1.000000,0.500000,0.0,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.356838,0.559615,0.5,0.0,1.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,2.000000,0.500000,4.0,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0

In [ ]:
labmeans = grades.mean()
manmeans = grades.mean(axis=1)
logicals = grades.isnull()
ind = logicals.index.tolist()
kolumny = logicals.columns.tolist()
for i in ind:
    for c in kolumny:
        if logicals[c][i]:
            grades[c][i] = np.mean([labmeans[c], manmeans[i]])

In [ ]:
%%timeit

oceny4 = oceny3.copy()
for wiersz_index in range(oceny4.shape[0]):
    for kolumna_index in range(3, oceny4.shape[1]):
        if np.isnan(oceny4.iloc[wiersz_index, kolumna_index]):
            srednia_wiersz = oceny3.iloc[wiersz_index, 3:].mean() # obliczamy średnią z oryginału, więc nie 
            srednia_kolumna = oceny3.iloc[:,kolumna_index].mean() # uwzględniamy nowych średnich
            oceny4.iloc[wiersz_index, kolumna_index] = np.mean([srednia_wiersz, srednia_kolumna])
oceny4

49 ms ± 3.82 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
%%timeit

oceny_copy = oceny3
new_oceny = oceny_copy.iloc[:,3:].copy()
new_oceny1 = new_oceny.copy()
new_oceny2 = new_oceny.copy()
new_oceny1 = new_oceny1.apply(lambda x: x.fillna(x.mean()),axis=0)
new_oceny2 = new_oceny2.apply(lambda x: x.fillna(x.mean()),axis=1)
new_oceny3 = (new_oceny1 + new_oceny2) / 2
oceny_copy.iloc[:,3:] = new_oceny3
oceny_copy

64.8 ms ± 4.88 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
%%timeit

oceny_macierz = oceny3.values[:, 3:].astype(float)
oceny_wiersze = np.nanmean(oceny_macierz, axis=1)
oceny_kolumny = np.nanmean(oceny_macierz, axis=0)
indeksy_nan = np.where(np.isnan(oceny_macierz))
oceny_macierz[indeksy_nan] = (oceny_wiersze[indeksy_nan[0]] + oceny_kolumny[indeksy_nan[1]])/2
oceny5_Numpy = oceny3.copy(deep=True)
oceny5_Numpy.iloc[:, 3:] = oceny_macierz

11 ms ± 326 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# Wystawianie ocen

* policzyć maksymalną liczbę punktów do zdobycia
* zsumować punkty dla każdego studenta
* policzyć ile procent punktów zdobył każdy student
* oceny wystawiamy tak:
* [0, 0.5) -> 2
* [0.5, 0.6) -> 3
* [0.6, 0.7) -> 3.5
* [0.7, 0.8) -> 4
* [0.8, 0.9) -> 4.5
* [0.9, 1.0) -> 5

In [ ]:
oceny5 = oceny4.copy()
oceny5["Suma"] = oceny5.sum(axis=1)
oceny5

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D10(1),L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1),Suma
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,0.000000,0.5,1.0,1.580769,0.930769,4.0,0.0,4.0,1.0,40.511538
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,0.000000,1.0,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0,35.500000
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,0.935556,1.0,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0,48.306667
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,3.500000
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,14.250000
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,0.771902,0.5,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0,39.127137
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,0.000000,0.5,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0,42.918519
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,0.500000,0.0,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0,49.000000
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.356838,0.559615,0.5,0.0,1.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,8.916453
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,7.500000
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,0.500000,4.0,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0,48.500000

In [ ]:
maksy = oceny5.columns.str.extract("((?:L|D)\d+\((\d+)\))") # (L|D) nawiasy zeby ograniczyc alternatywe, ?: zeby powiedziec, ze te nawiasy nie sa capturing group
maks = maksy[1].astype(float).sum()
maks

69.0

In [ ]:
oceny5["Procenty"] = oceny5["Suma"]/maks
oceny5

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1),Suma,Procenty
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,0.5,1.0,1.580769,0.930769,4.0,0.0,4.0,1.0,40.511538,0.587124
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,1.0,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0,35.500000,0.514493
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,1.0,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0,48.306667,0.700097
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,3.500000,0.050725
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,14.250000,0.206522
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,0.5,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0,39.127137,0.567060
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,0.5,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0,42.918519,0.622008
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,0.0,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0,49.000000,0.710145
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.356838,0.559615,0.5,0.0,1.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,8.916453,0.129224
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,7.500000,0.108696
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,4.0,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0,48.500000,0.702899

In [ ]:
pd.cut(oceny5["Procenty"], [0, 0.5, 0.6, 0.7, 0.8, 0.9])

0     (0.5, 0.6]
1     (0.5, 0.6]
2     (0.7, 0.8]
3     (0.0, 0.5]
4     (0.0, 0.5]
5     (0.5, 0.6]
6     (0.6, 0.7]
7     (0.7, 0.8]
8     (0.0, 0.5]
9     (0.0, 0.5]
10    (0.7, 0.8]
Name: Procenty, dtype: category
Categories (5, interval[float64]): [(0.0, 0.5] < (0.5, 0.6] < (0.6, 0.7] < (0.7, 0.8] < (0.8, 0.9]]

In [ ]:
pd.cut(oceny5["Procenty"], [0, 0.5, 0.6, 0.7, 0.8, 0.9], right=False)

0     [0.5, 0.6)
1     [0.5, 0.6)
2     [0.7, 0.8)
3     [0.0, 0.5)
4     [0.0, 0.5)
5     [0.5, 0.6)
6     [0.6, 0.7)
7     [0.7, 0.8)
8     [0.0, 0.5)
9     [0.0, 0.5)
10    [0.7, 0.8)
Name: Procenty, dtype: category
Categories (5, interval[float64]): [[0.0, 0.5) < [0.5, 0.6) < [0.6, 0.7) < [0.7, 0.8) < [0.8, 0.9)]

In [ ]:
oceny5["Ocena"] = pd.cut(oceny5["Procenty"], [0, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0], labels=["2.0", "3.0", "3.5", "4.0", "4.5", "5.0"], right=False)
oceny5

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1),Suma,Procenty,Ocena
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,1.0,1.580769,0.930769,4.0,0.0,4.0,1.0,40.511538,0.587124,3.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0,35.500000,0.514493,3.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0,48.306667,0.700097,4.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,3.500000,0.050725,2.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,14.250000,0.206522,2.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0,39.127137,0.567060,3.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0,42.918519,0.622008,3.5
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0,49.000000,0.710145,4.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.356838,0.559615,0.5,0.0,1.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,8.916453,0.129224,2.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,7.500000,0.108696,2.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0,48.500000,0.702899,4.0